@media screen and (max-width : 576px) {


    /* nav starts */

    .nav-container {
        flex-direction: column;
    }

    .logo-container {
        width: 100%;
        justify-content: center;
    }

    .nav-items-container {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-items-container a {
        margin-top: 10px;
    }

    .nav-items-container .login-btn {

        width: 100%;
    }

    /* nav ends */


    /* banner starts */

    .banner-container {
        flex-direction: column;
        margin-top: 15px;
        gap: 20px;
    }

    .banner-info {
        width: 100%;
        gap: 15px;

    }

    .banner-title {
        margin-top: 10px;
        font-size: 35px;
        width: auto;
    }

    .banner-description {
        width: auto;
        font-size: 30px;
    }

    .icon-container,
    .button-container {
        width: auto;
    }

    .fa-brands {
        font-size: 30px;
        margin-right: 15px;
    }

    .see-more,
    .shop-now {
        font-size: 14px;
    }

    .banner-img {
        width: 100%;
        margin: 0 auto;
    }




    /* banner ends */

    /* product styles starts */

    main {
        padding: 10px;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    /* product styles ends */

    /* discount section starts */

    .discount-section {
        padding: 10px;
        flex-direction: column;
        gap: 15px;
    }

    .discount-img {
        width: 100%;
    }

    .discount-img img {
        width: 90%;
    }

    .discount-cart {
        width: 60px;
        height: 60px;
        top: 4%;
        left: 72%;

    }

    .discount-info {
        width: 100%;
    }

    .discount-info .title {
        font-size: 18px;
    }

    .discount-info button {
        font-size: 16px;
    }

    /* discount section ends */

    /* footer starts */


    footer .description{

        font-size: 12px;
        text-align: justify;
    }


    /* footer ends */


}